<mat-card id="welcome-section" color="primary">
  <h1>LA QUINTA</h1>
  <h2>Manten al día tu inventario</h2>
  <a mat-raised-button>
    Comenzar
  </a>
</mat-card>

<div class="card-wrapper">
  <div class="row">
    <div class="column">
      <mat-card>
        <mat-card-header>
          <h1>Almacena cosas</h1>
        </mat-card-header>
        <mat-card-content>
          <h3>Mira las existencias</h3>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="primary">
            <span>Ir a existencias</span>
            <mat-icon>mic</mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="column">
      <mat-card>
        <mat-card-header>
          <h1>Pasa comandas</h1>
        </mat-card-header>
        <mat-card-content>
          <h3>Pasar comanda</h3>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="primary">
            <span>Comanda</span>
            <mat-icon>mic</mat-icon>
            <mat-icon>arrow_right_alt</mat-icon>
            <mat-icon>settings</mat-icon>
            <mat-icon>arrow_right_alt</mat-icon>
            <mat-icon>settings</mat-icon>
            <mat-icon>arrow_right_alt</mat-icon>
            <mat-icon>star</mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <mat-card>
        <mat-card-header>
          <h1>Ver estadísticas</h1>
        </mat-card-header>
        <mat-card-content>
          <h3>Observa el crecimiento de la empresa a tiempo real</h3>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="primary">
            <span>Observar registros</span>
            <mat-icon>visibility</mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="column">
      <mat-card>
        <mat-card-header>
          <h1>Corrige un registro</h1>
        </mat-card-header>
        <mat-card-content>
          <h3>Modifica el contenido de un registro</h3>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="primary">
            <span>Modificar registros</span>
            <mat-icon>edit</mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>