<footer>
  <mat-toolbar color="primary" id="footer-content">
    <a mat-raised-button color="primary">Política de privacidad</a>
    <a mat-raised-button color="primary">Registro LOPD</a>
    <a mat-raised-button color="primary">Política de Cookies</a>
    <a mat-raised-button color="primary">Aviso Legal</a>
    <a mat-raised-button color="primary">Contacto</a>
    <a mat-raised-button color="primary">Quejas, Reclamaciones y Sugerencias</a>
    <a mat-raised-button color="primary">Canal Ético</a>
    <a mat-raised-button color="primary">Accesibilidad</a>
  </mat-toolbar>
</footer>